@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;

  background-color: #eeede7;
  background-size: cover;
}
body {
  font-family: "Protest Riot", sans-serif;

  .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
    }

    .toDoList {
      height: 100%;
      overflow: visible;
      width: 100%;
      margin: 0 0.5rem;
      .welcomeUserName {
        font-weight: bold;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    input[type="text"] {
      padding: 0.5rem;
      outline: none;
      border-radius: 4px;
      background-color: #868b8e;
      color: #517069;
      width: 60%;

      &:focus {
        border: 2px solid #4c5270;
      }
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
    }
    input[type="date"] {
      font-size: 20px;
      //   background-color: rgba($color: red, $alpha: 0.5);
      background-color: rgb(157, 149, 161);
      padding: 2px 5px;
      border-radius: 3px;
      outline: none;
      &:focus {
        border: 2px solid #4c5270;
      }
    }

    input[type="date"]::-webkit-datetime-edit {
      //display: none;
      color: rgb(89, 75, 75);
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }
  }
}
